@import "../../css/vars.scss";

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 110px;
  background-color: transparent;
  box-shadow: 0px 2px 11px -3px rgba(89, 89, 89, 0.76);

  &.homeHeader {
    box-shadow: none;
    .headerLinks {
      .headerLink {
        color: $main-color;
        &:not(.btn) {
          &::after {
            display: none;
          }
        }
      }
    }

    &::before {
      background-image: url("../../css/assets/hero.png");
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      top: 0;
      position: absolute;
      content: "";
      min-height: 100vh;
      min-width: 100%;
      z-index: -2;
    }

    &::after {
      background: radial-gradient(
        circle at 74% 27%,
        rgb(0 0 0 / 0%) 0%,
        rgb(23 7 7 / 29%) 29%,
        rgb(0 0 0 / 61%) 61%,
        #000000 100%
      );
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      content: "";
      position: absolute;
      opacity: 1;
      top: 0;
      z-index: -1;
    }
  }

  .logoLink {
    margin-left: 10px;
    display: flex;
    align-items: center;

    svg {
      width: 100px;
      height: 100px;
    }
  }

  .headerLinks {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 15px;

    .headerLink {
      text-decoration: none;
      border: none;
      background-color: transparent;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 200;
      color: $secondary-color;
      padding-bottom: 0;
      padding-top: 0;
      padding-right: 0;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      &.active {
        &::after {
          content: "";
          position: absolute;
          border-bottom: 4px solid $secondary-color;
          width: 100%;
          bottom: 0;
        }
      }

      &:hover {
        cursor: pointer;
      }

      + .headerLink {
        padding-left: 0;
        margin-left: 15px;
      }
    }
  }
}
