@import "../css/vars.scss";

:global {
  :local(.dropDownDiv) {
    padding-left: 15px;
    .btn {
      background: none !important;
      box-shadow: none !important;
      color: $main-color !important;
      padding-left: 0;
    }
    &.show {
      .btn {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}
