.loginPageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin-top: 40px;

  :global {
    .inputPrimary {
      + .inputPrimary {
        margin-top: 9px;
      }
    }

    .btnSubmit {
      margin-top: 15px;
      align-self: flex-end;
    }
  }
}