.searchPage {
  margin-top: 20px;
  margin-bottom: 40px;

  :global {
    .searchPageTitle {
      color: #000;
      margin-bottom: 20px;
      font-size: 32px;
      font-weight: 200;
    }

    .searchResultsList {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }
  }
}